<div class="dashboardContent">
  <ejs-dashboardlayout id="dashboard"
                       [columns]="5"
                       [cellAspectRatio]="100/35"
                       [cellSpacing]="[15, 15]"
                       [allowFloating]="false"
                       [allowDragging]="false"
                       [mediaQuery]="'max-width: 1200px'">
      <div class="e-panel" data-row="0" data-col="0" data-sizeX="1" data-sizeY="3">
        <div class="e-panel-container">
          <div class="e-panel-header">Options</div>
          <div class="e-panel-content">
            <div id="tempDiv" class="inputGroup">
              <label class="inputHeader">Temperature (Kelvin)</label>
              <div class="inputGroupContent">
                <div>
                  <ejs-numerictextbox width="100px" step='500' [(value)]="temp" [min]="minTemp" [max]="maxTemp"></ejs-numerictextbox>
                  <ejs-slider *ngIf="dashLoaded"
                              #tempSlider
                              width="80%"
                              [min]="minTemp"
                              [max]="maxTemp"
                              [(value)]="temp"
                              [ticks]="{ placement: 'After', largeStep: 10000 }"
                              (change)="changeTemp($event)">
                  </ejs-slider>
                </div>
              </div>
            </div>
            <div id="xAxisDiv" class="inputGroup">
              <label class="inputHeader">Planck's Law by:</label>
              <div class="inputGroupContent">
                <div>
                  <div>
                    <ejs-radiobutton label="Wavelength" checked="true" [value]="true" name="xAxis" (change)="changePlancksLawBy($event)"></ejs-radiobutton>
                  </div>
                  <div>
                    <ejs-radiobutton label="Frequency" [value]="false" name="xAxis" (change)="changePlancksLawBy($event)"></ejs-radiobutton>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="e-panel" data-row="3" data-col="0" data-sizeX="1" data-sizeY="2">
        <div class="e-panel-container">
          <div class="e-panel-header">Perceived Color</div>
          <div class="e-panel-content">
            <div id="perceivedColor" [ngStyle]="{'background-color': perceivedColor }"></div>
          </div>
        </div>
      </div>
      <div class="e-panel" data-row="0" data-col="1" data-sizeX="4" data-sizeY="5">
        <div class="e-panel-container">
          <div class="e-panel-header">Blackbody Radiation</div>
          <div class="e-panel-content">
            <ejs-chart *ngIf="dashLoaded" id="chart" #chart [primaryXAxis]="primaryXAxis" [primaryYAxis]="primaryYAxis" (axisLabelRender)="axisLabelRender($event)">
              <e-series-collection>
                <e-series [dataSource]='chartData'
                          type='Spline'
                          xName='x'
                          yName='y'
                          name='Photon'
                          fill="black"
                          width=4>
                </e-series>
              </e-series-collection>
            </ejs-chart>
          </div>
        </div>
      </div>
  </ejs-dashboardlayout>
</div>


